@charset "UTF-8";

ul, li {
	list-style: none;
}

h1 {
	font: 1.5em arial, sans-serif;
	font-weight: bold;
	margin: 10px;
}

.inner {
	padding: 10px;
	border: 1px solid black;
}

img {
	max-height: 100%;
	max-width: 100%;
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}

#header {
	width: 100%;
	height: 70px;
	z-index: 9999;
	position: fixed;
	top: 0px;
	background-color: fuchsia;
}

#nav {
	top: 70px;
	left: 10px;
	width: 80px;
	height: 500px;
	position: fixed;
	z-index: 9998;
	width: 80px;
}

#nav a {
	width: 80px;
	height: 100px;
	background-color: silver;
	position: relative;
	text-align: center;
	display: block;
}

#main {
	min-width: 200px;
	max-width: 1200px;
	margin: 70px auto 0;
	width: 70%;
}

.contents {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	background-color: purple;
}

.contents p, h1 {
	text-indent: 2em;
	background-color: orange;
}

.contents1 {
	min-height: 350px;
}

.photobox {
	position: relative;
	width: 200px;
	float: left;
	overflow: hidden;
	margin: 10px;
}

.photobox:before {
	content: "";
	display: block;
	padding-top: 150%;
}

.photobox .photo {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.textbox {
	position: relative;
	width: 300px;
	float: left;
	overflow: hidden;
	margin: 10px;
}

.textbox:before {
	content: "";
	display: block;
	padding-top: 150%;
}

.textbox .text {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.benner1 {
	width: 100%;
	height: 100%;
	background-color: navy;
}

.benners {
	max-height: 120px;
	max-width: 120px;
	margin: 10px;
	border: 1px thick red;
	display: inline-block;
	background-color: blue;
}

#footer {
	width: 100%;
	height: 50px;
	bottom: 0px;
	position: relative;
	background-color: aqua;
}